#cloud-config

hostname: coreos01

users:
  - name: "user"
    passwd: "$6$SALT$zFifZn/XRQWV6ZoDkd/d9/bqoR94O3n9K0eJfAmOJWAfoeC47o6NbKDUhkibHZb2Zj7vb6i1Om6hbjuN1eAza1"
    groups:
       - "sudo"
       - "docker"
# include one or more SSH public keys
#Substitua a linha "ssh-rsa" inteira por sua chave publica
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCknBdTytV0mOAIZkhtANL

coreos:
  units:
    - name: "etcd2.service"
      drop-ins:
        - name: "timeout.conf"
          content: |
            [Service]
            TimeoutStartSec=0

coreos:
  units:
    - name: settimezone.service
      command: start
      content: |
        [Unit]
        Description=Set the time zone

        [Service]
        ExecStart=/usr/bin/timedatectl set-timezone America/Sao_Paulo
        RemainAfterExit=yes
        Type=oneshot

coreos:
  etcd2:
    name: "s500lxhmlcoreos01"
    # generate a new token for each unique cluster from https://discovery.etcd.io/new?size=3
    # specify the initial size of your cluster with ?size=X
    discovery: https://discovery.etcd.io/48e05622df00d245a730abc1d9a3a516
    advertise-client-urls: http://coreos01.magazineluiza.intranet:2379,http://coreos01.magazineluiza.intranet:4001
    initial-advertise-peer-urls: http://coreos01.magazineluiza.intranet:2380
    # listen on both the official ports and the legacy ports
    # legacy ports can be omitted if your application doesn't depend on them
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://0.0.0.0:2380
  fleet:
    public-ip: 10.31.0.245
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: flanneld.service
      command: start

write_files:
    -  path: /etc/systemd/network/ens32.network
       permissions: 0644
       owner: root
       content: |
         [Match]
         Name=ens32

         [Network]
         Address=10.31.0.245/24
         Gateway=10.31.0.1
         DNS=10.0.0.150
         DNS=10.0.0.151

    -  path: /etc/systemd/network/ens34.network
       permissions: 0644
       owner: root
       content: |
         [Match]
         Name=ens34

         [Network]
         Address=172.16.20.1/24

manage_etc_hosts: "localhost"

write_files:
  - path: /etc/nsswitch.conf
    permissions: 0644
    owner: root
    content: |
      # /etc/nsswitch.conf:

      passwd:      files usrfiles
      shadow:      files usrfiles
      group:       files usrfiles

      hosts:       files usrfiles resolv dns
      networks:    files usrfiles dns

      services:    files usrfiles
      protocols:   files usrfiles
      rpc:         files usrfiles

      ethers:      files
      netmasks:    files
      netgroup:    files
      bootparams:  files
      automount:   files
      aliases:     files

#cloud-config
write_files:
  - path: "/etc/resolv.conf"
    permissions: "0644"
    owner: "root"
    content: |
      nameserver 10.0.0.150
      nameserver 10.0.0.151
      search magazineluiza.intranet
